<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <display-name>trackMe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterData</display-name>
    <servlet-name>RegisterData</servlet-name>
    <servlet-class>RegisterData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterData</servlet-name>
    <url-pattern>/RegisterData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveTrackme</display-name>
    <servlet-name>LeaveTrackme</servlet-name>
    <servlet-class>LeaveTrackme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveTrackme</servlet-name>
    <url-pattern>/LeaveTrackme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Progress</display-name>
    <servlet-name>Progress</servlet-name>
    <servlet-class>Progress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Progress</servlet-name>
    <url-pattern>/Progress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Schedule</display-name>
    <servlet-name>Schedule</servlet-name>
    <servlet-class>Schedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Schedule</servlet-name>
    <url-pattern>/Schedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reader</display-name>
    <servlet-name>Reader</servlet-name>
    <servlet-class>Reader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reader</servlet-name>
    <url-pattern>/Reader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadBook</display-name>
    <servlet-name>ReadBook</servlet-name>
    <servlet-class>ReadBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadBook</servlet-name>
    <url-pattern>/ReadBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveSearch</display-name>
    <servlet-name>LeaveSearch</servlet-name>
    <servlet-class>LeaveSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveSearch</servlet-name>
    <url-pattern>/LeaveSearch</url-pattern>
  </servlet-mapping>
</web-app>